body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f4f4f4;
}

.container {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    background: white;
    width: 320px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: relative;
}

footer {
    text-align: center;
    margin-top: 20px;
}

#logo {
    width: 100px;
    margin-bottom: 10px;
}

input[type="tel"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 80px;
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #25D366;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#developed {
    color: #25D366; /* Verde padrão */
    margin-bottom: 10px; /* Espaço entre texto e ícones sociais */
}
.bottom-icons {
        border: 2px solid black; /* Define a largura, estilo e cor da borda */
		border-color: #25D366; /* Verde padrão */
        padding: 10px; /* Adiciona um pouco de espaço interno */
    }
.social-links {
    display: flex;
    justify-content: center;
    gap: 10px; /* Espaço entre ícones */
    font-size: 24px; /* Ícones menores */
    color: #aaa; /* Cor tipo marca d'água */
    margin-bottom: 10px; /* Espaço antes de "A DEUS toda a Glória!" */
}

.social-links a i {
    color: inherit;
    text-decoration: none;
}

#glory {
    text-align: right;
    width: 100%;
    color: #b0b0b0; /* Cinza */
    font-size: 12px; /* Discreto e visível */
}

/* Estilo para o botão de instalação do PWA */
#installPWA {
    background-color: #4285F4;
    margin-top: 20px;
    margin-bottom: 20px;
}